# LLM 中转 API
RAG_LLM__OPENAI__BASE_URL=
RAG_LLM__OPENAI__API_KEY=


# database
RAG_DATABASE__URL=postgresql+psycopg2://:@localhost:5432/vectordb
RAG_DATABASE__pool_size=20
RAG_DATABASE__max_overflow=30

# embedding
RAG_EMBEDDING__OPENAI__MODEL=text-embedding-3-small
RAG_EMBEDDING__OPENAI__DIMENSIONS=1536

# Milvus
RAG_MILVUS__HOST=localhost
RAG_MILVUS__PORT=19530
